# Time Zone
TZ=

# Container Name Prefix
CNP=zk

# Nginx
NGINX_CONTAINER=${CNP}nginx

# PHP
PHP_CONTAINER=${CNP}php

# MySQL or MariaDB
MYSQL_CONTAINER=${CNP}mysql
MYSQL_ROOT_PASSWORD=

# Redis
REDIS_CONTAINER=${CNP}redis

# phpMyAdmin
PMA_CONTAINER=${CNP}phpmyadmin
PMA_HOST=${CONTAINER_MYSQL}
